# === Terraform ===

# Локальные каталоги и кэш провайдеров
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

# Файл блокировки состояния
.terraform.tfstate.lock.info

# Логи аварий
crash.log
*.crash.log

# Локальные override-файлы
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Кэш terragrunt
.terragrunt-cache/

# === Исключение ===
!**/.terraform.lock.hcl

./docs/progress_of_learning.md