# === Terraform ===

# Локальные каталоги и кэш провайдеров
**/.terraform/*

# Файлы состояния
*.tfstate
*.tfstate.*

# Файл блокировки состояния
.terraform.tfstate.lock.info

# Логи аварий
crash.log
*.crash.log

# Локальные override-файлы
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Кэш terragrunt (если используешь)
.terragrunt-cache/

# === Исключение ===
# Этот lock-файл наоборот нужно коммитить, чтобы зафиксировать версии провайдеров
!**/.terraform.lock.hcl